/* Custom Styles */

/* Set the default font to Inter and apply smooth scrolling */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

/* Custom scrollbar styling for aesthetics */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #4A90E2; /* primary-blue */
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: #1a202c; /* secondary-dark */
}